@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <MudIconButton 
        Icon="@Icons.Material.Filled.Menu" 
        Edge="Edge.Start" 
        OnClick="@(_ => DrawerToggle())" />
        My Todo List

    </MudAppBar>
    <MudDrawer Open="_drawerOpen">
        <h3>Menu</h3>
    </MudDrawer>

    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@code{

    bool _drawerOpen = true;

    void DrawerToggle(){
        _drawerOpen = !_drawerOpen;
    }

}